<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafael.trabfinal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CadastroCliente"
            android:label="@string/actCadastrarCliente"></activity>

        <activity android:name=".CadastroPeca"
            android:label="@string/actCadastrarPeca"></activity>

        <activity android:name=".CadastroOrcamento"
            android:label="@string/actCadastrarOrcamento"></activity>

        <activity android:name=".ManagerCliente"
            android:label="@string/actListaClientes"></activity>

        <activity android:name=".ManagerPeca"
            android:label="@string/actListaPecas"></activity>

        <activity android:name=".ManagerAdapterMarca"
            android:label="@string/actListaMarcas"></activity>

        <activity android:name=".ManagerAdapterVeiculos"
            android:label="@string/actListaVeiculos"></activity>

        <activity android:name=".ManagerAdapterTipo"
            android:label="@string/actListaTipos"></activity>

        <activity android:name=".AdicionarPecaOrc"
            android:label="Adicionar ao Orçamento"></activity>


        <activity android:name=".ManagerOrcamento">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>